* {
  font-family: "Inter", sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #191919;
  color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 64px;
  line-height: 70px;
}

p {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.bg-light-color {
  color: #516B7B;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-slider {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slick-slider.slick-initialized {
  opacity: 1;
}

.slick-slide {
  outline: none;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 1286px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container.container_sm {
  max-width: 1074px;
}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 1920px;
    padding: 0 100px;
  }
  .container.container_sm {
    max-width: 1920px;
    padding: 0 246px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 744px;
  }
  .container.container_sm {
    max-width: 744px;
  }
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn {
  box-shadow: none;
  padding: 18px 33px;
  border-radius: 50px;
  border: 1px solid;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.btn span, .btn img {
  margin-left: 10px;
  display: flex;
}
.btn.btn_lg {
  font-size: 20px;
  line-height: 24px;
}

.btn-primary {
  background-color: #E6B400;
  color: #000;
  border-color: #E6B400;
}
.btn-primary:hover {
  background-color: #B57D16;
  border-color: #B57D16;
  color: #000;
}

.btn-outline-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.btn-outline-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
.btn-outline-white:hover img {
  filter: brightness(0) invert(0);
}

.btn-outline-primary {
  background-color: transparent;
  color: #E6B400;
  border-color: #E6B400;
}
.btn-outline-primary:hover {
  background-color: #E6B400;
  color: #fff;
  border-color: #E6B400;
}
.btn-outline-primary:hover span img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.btn-secondary {
  background-color: #FF0101;
  color: #fff;
  border-color: #FF0101;
  font-weight: 700;
}
.btn-secondary:hover {
  background-color: transparent;
  border-color: #FF0101;
  color: #FF0101;
}

button, .navbar-toggler:focus {
  outline: none;
  text-decoration: none;
  box-shadow: none;
}

.textbtn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  color: #E6B400;
  cursor: pointer;
}

.max-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.blurred {
  position: relative;
}
.blurred:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 3;
}

.proheading {
  padding-bottom: 48px;
}
.proheading h2 {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 34px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proheading h2 span {
  font-weight: 700;
  color: #fff;
  margin-left: 5px;
}
.proheading h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 13px;
  background: url("./../images/styledotheading.svg") no-repeat center;
  bottom: 0;
}

@media screen and (min-width: 1700px) {
  .btn {
    padding: 19px 42px;
    font-size: 16px;
  }
  .btn img, .btn span {
    margin-left: 14px;
  }
  .proheading {
    padding-bottom: 70px;
  }
  .proheading h2 {
    font-size: 52px;
    line-height: 59px;
    padding-bottom: 45px;
  }
  .proheading h2 span {
    margin-left: 9px;
  }
}
@media screen and (max-width: 992px) {
  .btn {
    padding: 14px 26px;
    font-size: 14px;
  }
  .proheading {
    padding-bottom: 40px;
  }
  .proheading h2 {
    font-size: 36px;
    line-height: 41px;
    padding-bottom: 20px;
  }
  .proheading h2 span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 14px;
    padding: 11px 27px;
  }
  .btn.btn_lg {
    font-size: 14px;
    line-height: 18px;
  }
  .proheading {
    padding-bottom: 26px;
  }
  .proheading h2 {
    font-size: 26px;
    line-height: 31px;
    padding-bottom: 20px;
  }
}
header {
  z-index: 7;
  transition: background 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 14px;
  border-top: 2px solid #B57D16;
}
header.sticky .headercontent {
  background: rgba(0, 0, 0, 0.7);
}
header .headercontent {
  border: 1px solid rgba(220, 220, 220, 0.7);
  background: rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(20px);
  padding: 0 12px;
  border-radius: 120px;
  display: grid;
  grid-template-columns: 200px 1fr 198px;
  align-items: center;
  position: relative;
  transition: border-radius 0.4s ease-in-out;
}
header .headercontent .logo {
  padding-left: 16px;
}
header .headercontent .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
header .headercontent .navbar ul .navbaritem {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
  text-transform: capitalize;
}
header .headercontent .navbar ul .navbaritem:hover {
  color: #E6B400;
}
header .headercontent .navbar ul .dropdown {
  cursor: pointer;
  padding: 26px 0;
}
header .headercontent .navbar ul .dropdown:hover .navbaritem, header .headercontent .navbar ul .dropdown.active .navbaritem {
  color: #E6B400;
}
header .headercontent .navbar ul .dropdown:hover .dropdown-menu, header .headercontent .navbar ul .dropdown.active .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  display: flex;
}
header .headercontent .navbar ul .dropdown-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: calc(100% + 2px);
  padding: 12px 12px 12px 28px;
  border: 1px solid rgba(220, 220, 220, 0.7);
  border-top: none;
  background: rgba(0, 0, 0, 0.5);
  left: -1px;
  border-radius: 0 0 28px 28px;
  transition: all 0.2s ease-in-out;
  cursor: auto;
}
header .headercontent .navbar ul .dropdown-menu .listitem {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
}
header .headercontent .navbar ul .dropdown-menu .listitem img, header .headercontent .navbar ul .dropdown-menu .listitem svg {
  margin-right: 16px;
  max-width: 52px;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown {
  display: flex;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 42px;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .tab-content {
  padding: 18px 0;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown ul {
  display: block;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 356px;
  margin-right: 32px;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul li {
  width: 100%;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list {
  display: none;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 18px;
  transition: all 0.3s;
  opacity: 0.5;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem img {
  max-width: 42px;
  margin-right: 14px;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem::after {
  content: "";
  width: 14px;
  height: 8px;
  background: url("./../images/arrowdown.svg") no-repeat center;
  position: absolute;
  right: 0;
  transition: all 0.3s;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink {
  opacity: 1;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem:hover {
  opacity: 1;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .list {
  display: none !important;
}
header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .list:not(.hide) {
  display: block !important;
}
header .headercontent .navbar ul .dropdown-menu .productslist {
  width: 100%;
  padding: 12px 0;
}
header .headercontent .navbar ul .dropdown-menu .productslist ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 42px;
}
header .headercontent .navbar ul .dropdown-menu .solutionlist {
  padding: 12px 0;
  width: 100%;
}
header .headercontent .navbar ul .dropdown-menu .solutionlist ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px 42px;
}
header .headercontent.menu-open {
  border-radius: 28px 28px 0 0;
  transition: none;
  background: rgba(0, 0, 0, 0.5);
}

.mobile_toggleBtn {
  display: none;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 5px;
  height: 42px;
  justify-content: center;
  width: 42px;
  z-index: 1;
  margin-left: 10px;
}
.mobile_toggleBtn .mobile_toggleBtn_line {
  background-color: #fff;
  border-radius: 10px;
  width: 16.62px;
}
.mobile_toggleBtn .mobile_toggleBtn_line:first-child,
.mobile_toggleBtn .mobile_toggleBtn_line:last-child {
  height: 2.2px;
}

.backward, .forward {
  transition: 0.3s ease-in-out;
}

.forward {
  transform: rotate(45deg);
  transform-origin: 4px 3px;
}

.backward {
  transform: rotate(-45deg);
  transform-origin: 4px -0.5px;
}

@media screen and (min-width: 1700px) {
  header {
    padding-top: 27px;
  }
  header .headercontent {
    padding: 0 36px;
    border-radius: 120px;
    grid-template-columns: 257px 1fr 230px;
  }
  header .headercontent .logo {
    padding-left: 0;
  }
  header .headercontent .navbar ul {
    gap: 36px;
  }
  header .headercontent .navbar ul .navbaritem {
    font-size: 26px;
    font-weight: 500;
    line-height: 33px;
  }
  header .headercontent .navbar ul .dropdown {
    padding: 32px 0;
  }
  header .headercontent .navbar ul .dropdown-menu {
    padding: 22px 36px;
  }
  header .headercontent .navbar ul .dropdown-menu .listitem {
    font-size: 20px;
  }
  header .headercontent .navbar ul .dropdown-menu .listitem img, header .headercontent .navbar ul .dropdown-menu .listitem svg {
    margin-right: 22px;
    max-width: 52px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown {
    width: 100%;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab {
    width: 426px;
    margin-right: 82px;
    padding: 25px 28px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul {
    gap: 16px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem {
    font-size: 20px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem img {
    max-width: 48px;
    margin-right: 20px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .list ul {
    gap: 46px 42px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .tab-content {
    width: calc(100% - 508px);
  }
  header .headercontent .navbar ul .dropdown-menu .productslist ul {
    gap: 46px 42px;
  }
  header .headercontent .rightlinks .btn {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  header .headercontent .navbar ul {
    gap: 20px;
  }
  header .headercontent .navbar ul .dropdown-menu .solutionlist ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  header {
    padding-top: 18px;
  }
  header .headercontent {
    display: flex;
    align-items: center;
    padding: 12px;
  }
  header .headercontent .logo img {
    max-width: 184px;
  }
  header .headercontent .navbar {
    display: none;
    position: absolute;
    left: -0.5px;
    top: 100%;
    width: calc(100% + 2px);
    padding: 42px 28px;
    border: 1px solid rgba(220, 220, 220, 0.7);
    border-top: none;
    border-radius: 0 0 28px 28px;
    transition: all 0.2s;
  }
  header .headercontent .navbar.nav--active {
    display: block;
    background: rgba(0, 0, 0, 0.7);
  }
  header .headercontent .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  header .headercontent .navbar ul li {
    width: 100%;
  }
  header .headercontent .navbar ul li .navbaritem {
    display: block;
  }
  header .headercontent .navbar ul li.dropdown {
    padding: 0;
    position: relative;
  }
  header .headercontent .navbar ul li.dropdown .navbaritem {
    padding-right: 25px;
    position: relative;
  }
  header .headercontent .navbar ul li.dropdown .navbaritem::after {
    content: "";
    width: 25px;
    height: 25px;
    background: url("./../images/chevron-down.svg") no-repeat center;
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  header .headercontent .navbar ul li.dropdown.active .navbaritem::after {
    transform: rotate(-90deg);
    transition: all 0.1s;
  }
  header .headercontent .navbar ul .dropdown:hover > .dropdown-menu {
    display: none;
  }
  header .headercontent .navbar ul .dropdown-menu {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    border: none;
    position: relative;
    top: auto;
    left: auto;
    transition: none;
    margin-top: 22px;
    opacity: 1;
  }
  header .headercontent .navbar ul .dropdown-menu .listitem {
    color: #000;
  }
  header .headercontent .navbar ul .dropdown-menu .listitem svg {
    width: 36px;
    height: 36px;
    margin: 0;
  }
  header .headercontent .navbar ul .dropdown-menu .listitem img {
    max-width: 36px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown {
    display: block;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .tab-content {
    display: none;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab {
    background-color: transparent;
    padding: 0;
    border-radius: unset;
    width: 100%;
    margin-right: 0;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul {
    gap: 18px;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list {
    display: none;
    margin-top: 18px;
    padding-left: 66px;
    position: relative;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list:not(.hide) {
    display: block;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 0;
    width: 1px;
    height: 100%;
    background: url("./../images/dotedline.svg") center;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem {
    opacity: 1;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink::after {
    transform: rotate(180deg);
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab.opendrop ul .dropdownwithdropdownitem {
    opacity: 0.5;
  }
  header .headercontent .navbar ul .dropdown-menu .dropdownwithdropdown .innertab.opendrop ul .dropdownwithdropdownitem.activelink {
    opacity: 1;
  }
  header .headercontent .navbar ul .dropdown-menu .productslist {
    padding: 6px 0;
  }
  header .headercontent .navbar ul .dropdown-menu .productslist ul {
    gap: 32px 19px;
  }
  header .headercontent .navbar ul .dropdown-menu .productslist ul .listitem {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
  header .headercontent .navbar ul .dropdown-menu .solutionlist ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
  }
  header .headercontent .navbar ul .dropdown-menu .solutionlist ul .listitem {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
  header .headercontent .rightlinks {
    margin-left: auto;
  }
  .list {
    display: none;
  }
  .list.hide {
    display: none;
  }
  .mobile_toggleBtn {
    display: flex;
  }
  .mob_black {
    fill: #000;
  }
}
@media screen and (max-width: 576px) {
  header {
    padding-top: 24px;
    position: absolute;
  }
  header .headercontent {
    border: none;
    background: transparent;
    border-radius: unset;
    backdrop-filter: unset;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header .headercontent .logo {
    padding: 0;
  }
  header .headercontent .navbar, header .headercontent .rightlinks, header .headercontent #toggleBtn {
    display: none;
  }
  header.sticky .headercontent {
    background: transparent;
  }
}
@media screen and (min-width: 576px) {
  .mobileheader {
    display: none;
  }
}
.mobileheader {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  width: 100%;
}
.mobileheader .navbar_mob {
  border: none;
  box-shadow: 0 0 0 1px rgba(204, 204, 204, 0.4);
  border: none;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mobileheader .navbar_mob.open-dropdown {
  border-radius: 0 0 20px 20px;
}
.mobileheader .navbar_mob .navmobitem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 9px;
  border-radius: 100%;
  background-color: #3f3f3e;
}
.mobileheader .navbar_mob .navmobitem span {
  display: none;
}
.mobileheader .navbar_mob .navmobitem svg {
  width: 22px;
  height: 22px;
}
.mobileheader .navbar_mob ul {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  width: 100%;
}
.mobileheader .navbar_mob ul li.active .navmobitem, .mobileheader .navbar_mob ul li.show .navmobitem {
  padding: 10px 14px;
  border-radius: 40px;
  background-color: #E6B400;
}
.mobileheader .navbar_mob ul li.active .navmobitem svg path, .mobileheader .navbar_mob ul li.show .navmobitem svg path {
  fill: #000;
}
.mobileheader .navbar_mob ul li.active .navmobitem span, .mobileheader .navbar_mob ul li.show .navmobitem span {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.mobileheader .navbar_mob ul li.active .togglebtnmob .mobile_toggleBtn_line, .mobileheader .navbar_mob ul li.show .togglebtnmob .mobile_toggleBtn_line {
  background-color: #000;
}
.mobileheader .navbar_mob ul .dropdown-menu {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 100%;
  padding: 43px 20px 30px;
  border: none;
  box-shadow: 1px 0 0 0 rgba(204, 204, 204, 0.7), -1px 0 0 0 rgba(204, 204, 204, 0.7), 0 -1px 0 0 rgba(204, 204, 204, 0.7);
  border: none;
  border-top: none;
  background: #22211c;
  backdrop-filter: blur(20px);
  left: 0;
  border-radius: 20px 20px 0 0;
  transition: none;
  cursor: auto;
}
.mobileheader .navbar_mob ul .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 64px;
  height: 3px;
  background-color: #fff;
  opacity: 0.4;
}
.mobileheader .navbar_mob ul .dropdown-menu .listitem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}
.mobileheader .navbar_mob ul .dropdown-menu .listitem img, .mobileheader .navbar_mob ul .dropdown-menu .listitem svg {
  margin-right: 16px;
  max-width: 52px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown {
  display: flex;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 42px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown ul {
  display: block;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 356px;
  margin-right: 32px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul li {
  width: 100%;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list {
  display: none;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 18px;
  transition: all 0.3s;
  opacity: 0.5;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem img {
  max-width: 32px;
  margin-right: 14px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem::after {
  content: "";
  width: 18px;
  height: 8px;
  background: url("./../images/arrowdown.svg") no-repeat center;
  position: absolute;
  right: 0;
  transition: all 0.3s;
  filter: brightness(0) invert(1);
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink {
  opacity: 1;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem:hover {
  opacity: 1;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .list {
  display: none;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .list:not(.hide) {
  display: block;
}
.mobileheader .navbar_mob ul .dropdown-menu .productslist ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 14px;
}
.mobileheader .navbar_mob ul .dropdown-menu .productslist ul li .listitem {
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.mobileheader .navbar_mob ul .dropdown-menu .solutionlist ul {
  display: grid;
}
.mobileheader .navbar_mob ul .dropdown-menu .otherpagelink {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.mobileheader .navbar_mob ul .dropdown-menu .otherpagelink a {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 27px;
  display: block;
  text-align: center;
}
.mobileheader .navbar_mob ul .navbaritem {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
  text-transform: capitalize;
}
.mobileheader .navbar_mob ul .navbaritem:hover {
  color: #E6B400;
}
.mobileheader .navbar_mob ul li .navbaritem {
  display: block;
}
.mobileheader .navbar_mob ul li.dropdown {
  padding: 0;
}
.mobileheader .navbar_mob ul li.dropdown .navbaritem {
  padding-right: 25px;
  position: relative;
}
.mobileheader .navbar_mob ul li.dropdown .navbaritem::after {
  content: "";
  width: 25px;
  height: 25px;
  background: url("./../images/chevron-down.svg") no-repeat center;
  position: absolute;
  right: 0;
  transition: all 0.3s;
}
.mobileheader .navbar_mob ul li.dropdown.active .navbaritem::after {
  transform: rotate(-90deg);
  transition: all 0.1s;
}
.mobileheader .navbar_mob ul .dropdown-menu .listitem svg {
  width: 32px;
  height: 32px;
  margin: 0;
}
.mobileheader .navbar_mob ul .dropdown-menu .listitem img {
  max-width: 25px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown {
  display: block;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab {
  background-color: transparent;
  padding: 0;
  border-radius: unset;
  width: 100%;
  margin-right: 0;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul {
  gap: 16px;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list {
  display: none;
  margin-top: 16px;
  padding-left: 34px;
  position: relative;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list:not(.hide) {
  display: block;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul li .list::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 0;
  width: 1px;
  height: 100%;
  background: url("./../images/dotedline.svg") center;
  filter: brightness(0) invert(1);
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem {
  opacity: 1;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab ul .dropdownwithdropdownitem.activelink::after {
  transform: rotate(180deg);
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab.opendrop ul .dropdownwithdropdownitem {
  opacity: 0.5;
}
.mobileheader .navbar_mob ul .dropdown-menu .dropdownwithdropdown .innertab.opendrop ul .dropdownwithdropdownitem.activelink {
  opacity: 1;
  font-weight: 600;
}
.mobileheader .navbar_mob ul .dropdown-menu .solutionlist ul {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 14px;
}
.mobileheader .navbar_mob ul .dropdown-menu .solutionlist ul .listitem {
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.togglebtnmob {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
}
.togglebtnmob .mobile_toggleBtn_line {
  background-color: #fff;
  border-radius: 10px;
  width: 16.62px;
}
.togglebtnmob .mobile_toggleBtn_line:first-child,
.togglebtnmob .mobile_toggleBtn_line:last-child {
  height: 2.2px;
}

.toggleactive #line-1 {
  transform: rotate(45deg);
  transform-origin: 4px 3px;
  transition: 0.3s ease-in-out;
}
.toggleactive #line-2 {
  transition: 0.3s ease-in-out;
  transform: rotate(-45deg);
  transform-origin: 4px -0.5px;
}

@media screen and (max-width: 400px) {
  .mobileheader .navbar_mob ul {
    gap: 8px;
  }
  .mobileheader .navbar_mob ul li.active .navmobitem {
    padding: 10px 13px;
  }
  .mobileheader .navbar_mob ul li.active .navmobitem svg {
    width: 19px;
  }
  .mobileheader .navbar_mob ul li.active .navmobitem span {
    font-size: 14px;
  }
  .mobileheader .navbar_mob .navmobitem {
    gap: 6px;
    padding: 9px;
  }
}
footer {
  background-color: #1a1a19;
  padding: 160px 0 40px;
  position: relative;
}
footer .graphics {
  position: absolute;
  z-index: 1;
  margin-top: 0;
  width: 100%;
  top: -12%;
}
footer .graphics img {
  margin-bottom: 0;
  object-fit: cover;
  width: 100%;
}
footer .footerinner .needhelp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer .footerinner .needhelp h2 {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}
footer .footerinner .needhelp h2 span {
  font-weight: 700;
  color: #fff;
}
footer .footerinner .footer_navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0;
  margin: 30px 0;
}
footer .footerinner .footer_navbar:nth-last-child(2) {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
footer .footerinner .footer_navbar .footeritem {
  position: relative;
}
footer .footerinner .footer_navbar .footeritem:last-child {
  padding-right: 0;
  border-right: none;
}
footer .footerinner .footer_navbar .footeritem:last-child::after {
  display: none;
}
footer .footerinner .footer_navbar .footeritem::after {
  content: "";
  position: absolute;
  right: -44px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .footerinner .footer_navbar .footeritem h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: #fff;
  margin: 0 0 24px;
}
footer .footerinner .footer_navbar .footeritem a {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #fff;
}
footer .footerinner .footer_navbar .footeritem .socialsharing {
  display: flex;
  gap: 12px;
}
footer .footerinner .footer_navbar .footeritem .socialsharing .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
footer .footerinner .footer_navbar .footeritem .socialsharing .icon:hover {
  background-color: #fff;
}
footer .footerinner .footer_navbar .footeritem .socialsharing .icon:hover svg path {
  fill: #000;
}
footer .footerinner .footer_navbar .footeritem ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
footer .footerinner .footer_navbar .footeritem ul li a {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #fff;
  padding-left: 20px;
  position: relative;
}
footer .footerinner .footer_navbar .footeritem ul li a::before {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'><path d='M1.3335 11L6.19208 6.14142C6.27018 6.06332 6.27018 5.93668 6.19207 5.85858L1.3335 1' stroke='white' stroke-width='2' stroke-linecap='round'/></svg>");
  position: absolute;
  left: 0;
  top: 1px;
}
footer .footerinner .footer_navbar .footeritem ul li a:hover {
  color: #E6B400;
}
footer .footerinner .footer_navbar .footeritem ul li a:hover::before {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'><path d='M1.3335 11L6.19208 6.14142C6.27018 6.06332 6.27018 5.93668 6.19207 5.85858L1.3335 1' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'/></svg>");
}
footer .footerinner .copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerinner .copyrights .logo {
  max-width: 184px;
}
footer .footerinner .copyrights p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
}
footer .footerinner .copyrights p a {
  text-decoration: none;
  color: #fff;
}
footer .footerinner .copyrights p a:hover {
  color: #E6B400;
}

@media screen and (min-width: 1700px) {
  footer {
    padding: 180px 0 60px;
  }
  footer .footerinner .needhelp {
    gap: 60px;
  }
  footer .footerinner .needhelp h2 {
    font-size: 48px;
    line-height: 53px;
  }
  footer .footerinner .footer_navbar {
    padding: 60px 0;
    margin: 60px 0;
    gap: 170px;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    right: -85px;
  }
  footer .footerinner .footer_navbar .footeritem h2 {
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 36px;
  }
  footer .footerinner .footer_navbar .footeritem ul li a {
    font-size: 18px;
    line-height: 23px;
  }
  footer .footerinner .footer_navbar .footeritem a {
    font-size: 18px;
    line-height: 23px;
  }
  footer .footerinner .footer_navbar .footeritem .socialsharing {
    gap: 17px;
  }
  footer .footerinner .footer_navbar .footeritem .socialsharing .icon {
    width: 32px;
    height: 32px;
  }
  footer .footerinner .copyrights .logo {
    max-width: 255px;
  }
  footer .footerinner .copyrights p {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (max-width: 1910px) and (min-width: 1775px) {
  footer .footerinner .footer_navbar {
    gap: 127px;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    right: -63px;
  }
}
@media screen and (max-width: 1775px) and (min-width: 1700px) {
  footer .footerinner .footer_navbar {
    gap: 100px;
  }
  footer .footerinner .footer_navbar .footeritem h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }
  footer .footerinner .footer_navbar .footeritem ul li a {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    right: -50px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 576px) {
  footer {
    padding: 50px 0 50px;
  }
  footer .footerinner .needhelp {
    gap: 28px;
  }
  footer .footerinner .needhelp h2 {
    font-size: 24px;
  }
  footer .footerinner .footer_navbar {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 100px;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    right: -50px;
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(2)::after {
    display: none;
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(3), footer .footerinner .footer_navbar .footeritem:nth-child(4) {
    margin-top: 30px;
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(3)::before, footer .footerinner .footer_navbar .footeritem:nth-child(4)::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: calc(100% + 50px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(4)::before {
    left: -50px;
  }
  footer .footerinner .footer_navbar .footeritem h2 {
    font-size: 18px;
    margin: 0 0 22px;
  }
  footer .footerinner .footer_navbar .footeritem ul {
    gap: 18px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 96px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem {
    width: calc(33.33% - 64px);
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(2)::after {
    display: block;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(3) {
    margin: 0;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(3)::before, footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(3)::after {
    display: none;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(4) {
    width: 100%;
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(4) h2 {
    margin: 0;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:nth-child(4)::before {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 700px) and (min-width: 576px) {
  footer .footerinner .needhelp {
    gap: 20px;
    flex-direction: column;
  }
  footer .footerinner .needhelp h2 {
    font-size: 20px;
  }
  footer .footerinner .needhelp .btn {
    width: 100%;
  }
  footer .footerinner .footer_navbar {
    gap: 30px 70px;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    right: -35px;
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(4)::before, footer .footerinner .footer_navbar .footeritem:nth-child(3)::before {
    width: calc(100% + 35px);
  }
  footer .footerinner .footer_navbar .footeritem:nth-child(4)::before {
    left: -35px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom {
    gap: 30px 50px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem {
    width: calc(33.33% - 40px);
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem::after {
    right: -25px;
  }
  footer .footerinner .copyrights {
    justify-content: center;
  }
  footer .footerinner .copyrights .logo {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  footer {
    padding: 40px 0 105px;
  }
  footer .footerinner .needhelp {
    gap: 20px;
    flex-direction: column;
  }
  footer .footerinner .needhelp h2 {
    font-size: 20px;
  }
  footer .footerinner .needhelp .btn {
    width: 100%;
  }
  footer .footerinner .footer_navbar {
    grid-template-columns: 1fr;
    gap: 27px;
    padding: 27px 0;
    margin: 27px 0;
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) {
    border-bottom: none;
    margin-bottom: 0;
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) .footeritem h2 {
    padding-right: 15px;
    position: relative;
    margin: 0;
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) .footeritem h2::after {
    content: "";
    width: 18px;
    height: 8px;
    background: url(./../images/arrowdown.svg) no-repeat center;
    position: absolute;
    right: 0;
    top: 6px;
    transition: all 0.3s;
    filter: brightness(0) invert(1);
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) .footeritem ul {
    display: none;
    margin-top: 20px;
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) .footeritem.active h2::after {
    transform: rotate(180deg);
  }
  footer .footerinner .footer_navbar:not(.footer_navbarbottom) .footeritem.active ul {
    display: grid;
  }
  footer .footerinner .footer_navbar .footeritem::after {
    display: none;
  }
  footer .footerinner .footer_navbar .footeritem h2 {
    font-size: 14px;
    margin: 0 0 20px;
  }
  footer .footerinner .footer_navbar .footeritem ul {
    gap: 18px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:last-child {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  footer .footerinner .footer_navbar.footer_navbarbottom .footeritem:last-child h2 {
    margin: 0;
  }
  footer .footerinner .copyrights {
    justify-content: center;
  }
  footer .footerinner .copyrights .logo {
    display: none;
  }
  footer .footerinner .copyrights p {
    text-align: center;
  }
  footer .graphics {
    top: -8%;
  }
  footer .graphics img {
    min-height: 102px;
    object-position: left;
  }
}
@media screen and (max-width: 400px) {
  footer .footerinner .footer_navbar .footeritem .socialsharing {
    gap: 7px;
  }
}
.mainbanner {
  position: relative;
  background: url("./../images/BG.png") no-repeat center;
}
.mainbanner .content {
  padding: 186px 0 94px;
  max-width: 813px;
  margin: 0 auto;
  text-align: center;
}
.mainbanner .content h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  text-align: center;
  margin: 0 0 35px;
}
.mainbanner .content h1 span {
  font-weight: 700;
  color: #fff;
}
.mainbanner .graphics {
  position: relative;
  z-index: 1;
  margin-top: 27px;
}
.mainbanner .graphics img {
  margin-bottom: 0;
  object-fit: cover;
  width: 100%;
}
.mainbanner .brandslinked {
  max-width: 1286px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1700px) {
  .mainbanner .brandslinked {
    max-width: 1760px;
    padding: 0 100px;
  }
}
@media screen and (max-width: 992px) {
  .mainbanner .brandslinked {
    max-width: 100%;
    padding: 0;
  }
}
.mainbanner .brandslinked .bannerbrands {
  opacity: 0;
  display: flex;
  align-items: center;
}
.mainbanner .brandslinked .bannerbrands.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
.mainbanner .brandslinked .branditem {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 1700px) {
  .mainbanner .content {
    padding: 277px 0 107px;
    max-width: 1209px;
  }
  .mainbanner .content h1 {
    font-size: 64px;
    line-height: 72px;
    margin: 0 0 50px;
  }
  .mainbanner .brandslinked .branditem {
    padding: 0 40px;
  }
  .mainbanner .brandslinked .branditem img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
  .mainbanner .graphics {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .mainbanner .content {
    padding: 174px 0 64px;
    max-width: 550px;
  }
  .mainbanner .brandslinked .branditem {
    padding: 0 25px;
  }
  .mainbanner .brandslinked .branditem img {
    width: 100%;
    object-fit: contain;
  }
  .mainbanner .graphics {
    margin-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .mainbanner .content {
    padding: 112px 0 46px;
    max-width: 100%;
  }
  .mainbanner .content h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .mainbanner .brandslinked .branditem {
    padding: 0 0px;
  }
  .mainbanner {
    background-position: left;
  }
  .mainbanner .graphics img {
    min-height: 102px;
    object-position: left;
  }
}
.our_expertise {
  background: url("./../images/Expertise_BG.png") no-repeat center;
  background-size: cover;
  padding: 60px 0 80px;
}
.our_expertise .experitesmain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
.our_expertise.featuredservice {
  background: url("./../images/FS_BG.png") no-repeat center;
  background-size: 100% 100%;
  background-position: center;
}
.our_expertise.iffooter {
  padding-bottom: 150px;
}

.expertisecard {
  overflow: hidden;
  padding: 0;
  padding-bottom: 1.6px;
  border-radius: 32px;
  position: relative;
  transition: background-position 1.5s ease-in-out;
}
.expertisecard::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to left, #ffffff 0%, rgba(153, 153, 153, 0) 100%);
}
.expertisecard .expertisecardin {
  background-color: #242424;
  padding: 32px 36px;
  border-radius: 32px;
  height: 100%;
  margin: 0.8px;
  z-index: 1;
  position: relative;
}
.expertisecard h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px;
  color: #fff;
  display: flex;
  align-items: center;
}
.expertisecard h3 img {
  margin-right: 22px;
}
.expertisecard p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.expertisecard p a {
  color: #E6B400;
}
.expertisecard p a:hover {
  color: #B57D16;
}
.expertisecard a:hover h3 {
  color: #E6B400;
}
.expertisecard:nth-child(2n)::before {
  background: linear-gradient(to right, #ffffff 0%, rgba(153, 153, 153, 0) 100%);
}
.our_product {
  background-size: cover;
  padding: 90px 0 90px;
  position: relative;
}
.our_product::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("./../images/Section_BG.svg");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  background-size: cover;
  background-position: bottom;
}
.our_product .productsmain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.productscard {
  overflow: hidden;
  padding: 0;
  padding-bottom: 1.6px;
  border-radius: 32px;
  position: relative;
  transition: background-position 1.5s ease-in-out;
}
.productscard::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #ffffff 0%, rgba(153, 153, 153, 0) 100%);
}
.productscard .productscardin {
  background-color: #242424;
  padding: 32px 36px;
  border-radius: 32px;
  height: 100%;
  text-align: center;
  margin: 0.8px;
  z-index: 1;
  position: relative;
}
.productscard img {
  max-width: 72px;
  margin: 0 auto;
}
.productscard h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0 0;
  color: #fff;
  text-align: center;
}
.productscard:nth-child(n+4):nth-child(-n+6)::before {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(153, 153, 153, 0) 100%);
}
.productscard:hover h3 {
  color: #E6B400;
}

@keyframes animateBorder {
  0% {
    background: linear-gradient(0deg, #ffffff, rgba(153, 153, 153, 0));
  }
  25% {
    background: linear-gradient(90deg, #ffffff, rgba(153, 153, 153, 0));
  }
  50% {
    background: linear-gradient(180deg, #ffffff, rgba(153, 153, 153, 0));
  }
  75% {
    background: linear-gradient(270deg, #ffffff, rgba(153, 153, 153, 0));
  }
  100% {
    background: linear-gradient(360deg, #ffffff, rgba(153, 153, 153, 0));
  }
}
@media screen and (min-width: 1700px) {
  .our_expertise {
    padding: 66px 0 120px;
  }
  .our_expertise .experitesmain {
    gap: 34px;
  }
  .our_expertise.featuredservice {
    padding: 120px 0;
  }
  .our_expertise.iffooter {
    padding-bottom: 190px;
  }
  .expertisecard {
    border-radius: 60px;
  }
  .expertisecard .expertisecardin {
    padding: 48px 44px;
    border-radius: 60px;
  }
  .expertisecard h3 {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 26px;
  }
  .expertisecard h3 img {
    margin-right: 36px;
  }
  .expertisecard p {
    font-size: 21px;
    line-height: 27px;
  }
  .our_product {
    padding: 120px 0 120px;
  }
  .our_product .productsmain {
    gap: 33px;
  }
  .productscard {
    border-radius: 60px;
  }
  .productscard .productscardin {
    border-radius: 60px;
    padding: 36px 45px;
  }
  .productscard img {
    max-width: 90px;
  }
  .productscard h3 {
    font-size: 32px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1785px) and (min-width: 1700px) {
  .productscard .productscardin {
    padding: 36px 38px;
  }
  .productscard h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  .our_expertise {
    padding: 30px 0 50px;
  }
  .our_expertise .experitesmain {
    gap: 30px;
  }
  .our_expertise.featuredservice {
    padding: 50px 0;
  }
  .our_expertise.iffooter {
    padding-bottom: 155px;
  }
  .expertisecard {
    border-radius: 26px;
  }
  .expertisecard .expertisecardin {
    padding: 26px;
    border-radius: 26px;
  }
  .expertisecard h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .expertisecard h3 img {
    margin-right: 20px;
  }
  .expertisecard p {
    font-size: 18px;
    line-height: 23px;
  }
  .our_product {
    padding: 50px 0 50px;
  }
  .our_product .productsmain {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .productscard {
    border-radius: 26px;
  }
  .productscard .productscardin {
    border-radius: 26px;
    padding: 22px 40px;
  }
  .productscard img {
    max-width: 60px;
  }
  .productscard h3 {
    font-size: 20px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 992px) and (min-width: 576px) {
  .productscard:nth-child(4n-1)::before, .productscard:nth-child(4n)::before {
    background: rgba(255, 255, 255, 0.6980392157) !important;
  }
}
@media screen and (max-width: 576px) {
  .our_expertise {
    padding: 20px 0 40px;
  }
  .our_expertise.featuredservice {
    padding: 40px 0;
  }
  .our_expertise.iffooter {
    padding-bottom: 110px;
  }
  .our_expertise .experitesmain {
    display: block;
    opacity: 0;
  }
  .our_expertise .experitesmain .slick-track {
    display: flex;
  }
  .our_expertise .experitesmain .slick-track .slick-slide {
    height: inherit !important;
  }
  .our_expertise .experitesmain .slick-track .slick-slide > div {
    height: 100%;
  }
  .our_expertise .experitesmain .slick-track .slick-slide > div .expertisecard {
    height: 100%;
  }
  .our_expertise .experitesmain.slick-slider {
    margin: 0 -8px;
  }
  .our_expertise .experitesmain.slick-slider .slick-list {
    padding: 0 10% 0 0 !important;
  }
  .our_expertise .experitesmain.slick-slider .slick-slide {
    padding-right: 8px;
    padding-left: 8px;
  }
  .our_expertise .experitesmain.slick-slider .slick-slide:nth-child(2n) .expertisecard::before {
    background: linear-gradient(to right, #ffffff 0%, rgba(153, 153, 153, 0) 100%);
  }
  .expertisecard .expertisecardin {
    padding: 26px 18px;
  }
  .expertisecard h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .expertisecard h3 img {
    margin-right: 16px;
    max-width: 46px;
  }
  .expertisecard p {
    font-size: 14px;
    line-height: 19px;
  }
  .our_product {
    padding: 40px 0 40px;
  }
  .our_product .productsmain {
    display: block;
    opacity: 0;
  }
  .our_product .productsmain .slick-track {
    display: flex;
  }
  .our_product .productsmain .slick-track .slick-slide {
    height: inherit !important;
  }
  .our_product .productsmain .slick-track .slick-slide > div {
    height: 100%;
  }
  .our_product .productsmain .slick-track .slick-slide > div .productscard {
    height: 100%;
  }
  .our_product .productsmain.slick-slider {
    margin: 0 -6px;
  }
  .our_product .productsmain.slick-slider .slick-list {
    padding: 0 8% 0 0 !important;
  }
  .our_product .productsmain.slick-slider .slick-slide {
    padding-right: 6px;
    padding-left: 6px;
  }
  .productscard .productscardin {
    border-radius: 26px;
    padding: 20px 17px;
  }
  .productscard img {
    max-width: 56px;
  }
  .productscard h3 {
    font-size: 15px;
    margin-top: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
