.onemain{
    display: grid;
    grid-template-columns: 280px 1fr 475px;    
    width: 100%; 
    box-sizing: border-box;
    height: 100vh;
    .sidenavbar{
        padding: 40px;
        background-color: $sectionbg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    .centeredarea{
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color; 
       
        .inner_centerdmain{
            padding: 40px 40px 0;
        }
    }
    .friendslist{
        padding: 40px;
        background-color: $sectionbg;
    }
}

@media screen and  (max-width:1363px) {
    .onemain{
        grid-template-columns: 280px 1fr 360px;
        .friendslist {
            padding: 40px 20px;
        }
        .centeredarea {
            .inner_centerdmain{
                padding: 40px 20px 0;
            }
        }
    }

}
@media screen and (max-width:1200px) {
    .onemain{
        grid-template-columns: repeat(1,1fr);
        position: relative;
        overflow: hidden;
        .sidenavbar{
            padding: 20px 20px;
            position: fixed;
            top: 0;
            left: -250px; 
            width: 250px;
            height: 100%;
            transition: left 0.4s ease; 
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
            z-index: 2;
            &.active{
                left: 0;
            }
        }
        .friendslist{
            padding: 25px 20px 20px;
            position: fixed;
            top: 0;
            right: -300px; 
            width: 300px;
            height: 100%;
            transition: right 0.4s ease; 
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
            z-index: 2;
            &.active{
                right:0;
            }
        }
        .centeredarea .inner_centerdmain {
            padding: 20px 20px 0;
        }
    }
    .mobile-overlay {
        display: none;
        top: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &.active {
            display: block;
            opacity: 1;
        }
    }
}