.profile_main{
    height: 100vh;
    overflow-y: auto;
}
.bg_img{
    height: 250px;
    max-height: 35vh;
    min-height: 250px;
    width: 100%;
    background-size: cover !important;
    position: relative;
   
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #32465261;
    }
}
.profileicon_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: -93px;
    padding: 0 40px;
    position: relative;
    z-index: 1;
    .profileicon_in{
        display: flex;
        align-items: flex-end;
        width: 100%;
        .profile_content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 232px);
            margin-left: 38px;
            padding-top: 93px;
        }
        .profileoicon{
            width: 195px;
            height: 195px;
            padding: 10px;
            background: $body-bg;
            border-radius: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile_text{
           
            h3{
                font-size: 24px;
                line-height: 29px;
                font-weight: 600;
                font-family: "Inter", sans-serif;
                margin-bottom: 12px;
            }
            p{    
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                text-transform: uppercase;
                color: $lightdark;
                display: flex;
                align-items: center;
                span{
                    display: block;
                    margin-right: 8px;
                }
            }
        }
    }
    .buttonsarea{

    }
}
.bioinfo{
    border-radius: 11px;
    background-color: #FFFFFF99;
    padding: 36px;
    margin: 30px 40px;
    h2{
        font-size: 22px;
        line-height: 25px;
        color: $primary-color;
        margin: 0;
        font-family: $font-family;
    }
    p{
        font-size: 14px;
        line-height: 18px;
        color: $lightdark;
        margin-top: 24px;
        margin-bottom: 30px;
    }
    .listinginfoprofile{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        padding-top: 10px;
        flex-wrap: wrap;
        border-top: 1px solid $border-color;

        li{
            width: 49%;
            display: flex;
            margin-top: 20px;
            .title{
                width: 50%;
                font-size: 14px;
                line-height: 18px;
                color: $lightdark;
            }
            .titleanswer{
                width: 50%;
                color: $primary-color;
                font-size: 16px;
                line-height: 19px;
                font-weight: 600;
                padding-left: 5px;
            }
        }
    }
}


.avatar-upload {
    position: relative;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        bottom: 10px;

        input {
            display: none;
            + label {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-bottom: 0;
                border-radius: 100%;
                background: $sectionbg url('./../images/camera.svg') no-repeat center;
                border: 1px solid $border-color;
                cursor: pointer;
                transition: all .2s ease-in-out;
                
                &:hover {
                    border-color: $primary-color;
                }
                
            }
        }
    }
    .avatar-preview {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 100%;
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }
}

@media screen and  (max-width:1363px) {
    .profileicon_info{
        padding: 0 20px;
    }
    .profileicon_info{
        .profileicon_in .profileoicon {
            width: 165px;
            height: 165px;
        }
    }
    .profileicon_info .profileicon_in .profile_content {
        width: calc(100% - 180px);
        margin-left: 15px;
        padding-top: 93px;
    }
    .bg_img {
        height: 220px;
        max-height: 30vh;
        min-height: 220px;
    }
    .profileicon_info .profileicon_in .profile_text h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .bioinfo {
        border-radius: 8px;
        padding: 20px;
        margin:25px 20px;
    }
    .bioinfo .listinginfoprofile li .titleanswer {
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width:768px) {
    .bioinfo .listinginfoprofile li{
        width: 100%;

    }
}
@media screen and (max-width:576px) {
    .profileicon_info .profileicon_in{
        flex-direction: column;
        align-items: flex-start;
        .profile_content{
            width: 100%;
            padding-top: 0;
            margin-left: 0;
        }
    }
}