* {
  font-family: "Inter", sans-serif;
  color: #000;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #DAECF6;
  color: #000;
  box-sizing: border-box;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo Tamma 2", system-ui;
  font-weight: 700;
  margin: 0;
  color: #324652;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

p {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #516B7B;
}

a {
  color: #FF0101;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.bg-light-color {
  color: #516B7B;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-slide {
  outline: none;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row > * {
  padding: 0 15px;
}

.row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn {
  box-shadow: none;
  padding: 10px 22px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.btn span {
  margin-left: 10px;
  display: flex;
}
.btn.leftie span {
  margin-left: 0px;
  margin-right: 10px;
}
.btn.btn_lg {
  font-size: 20px;
  line-height: 24px;
}

.btn-primary {
  background-color: #324652;
  color: #fff;
  border-color: #324652;
}
.btn-primary:hover {
  background-color: transparent;
  border-color: #324652;
  color: #324652;
}

.btn-outline-primary {
  background-color: transparent;
  color: #324652;
  border-color: #324652;
}
.btn-outline-primary:hover {
  background-color: #324652;
  color: #fff;
  border-color: #324652;
}
.btn-outline-primary:hover span img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.btn-secondary {
  background-color: #FF0101;
  color: #fff;
  border-color: #FF0101;
  font-weight: 700;
}
.btn-secondary span img {
  filter: brightness(0) saturate(100%) invert(100%);
}
.btn-secondary:hover {
  background-color: transparent;
  border-color: #FF0101;
  color: #FF0101;
}
.btn-secondary:hover span img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(96%) saturate(6364%) hue-rotate(360deg) brightness(91%) contrast(101%);
}

button, .navbar-toggler:focus {
  outline: none;
  text-decoration: none;
  box-shadow: none;
}

.textbtn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  color: #324652;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.mt_42px {
  margin-top: 42px;
}

.text-uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 13px;
    padding: 10px 20px;
  }
  .btn.btn_lg {
    font-size: 14px;
    line-height: 18px;
  }
}
.onemain {
  display: grid;
  grid-template-columns: 280px 1fr 475px;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
}
.onemain .sidenavbar {
  padding: 40px;
  background-color: #E4F5FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.onemain .centeredarea {
  border-right: 1px solid rgba(50, 70, 82, 0.2196078431);
  border-left: 1px solid rgba(50, 70, 82, 0.2196078431);
}
.onemain .centeredarea .inner_centerdmain {
  padding: 40px 40px 0;
}
.onemain .friendslist {
  padding: 40px;
  background-color: #E4F5FF;
}

@media screen and (max-width: 1363px) {
  .onemain {
    grid-template-columns: 280px 1fr 360px;
  }
  .onemain .friendslist {
    padding: 40px 20px;
  }
  .onemain .centeredarea .inner_centerdmain {
    padding: 40px 20px 0;
  }
}
@media screen and (max-width: 1200px) {
  .onemain {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    overflow: hidden;
  }
  .onemain .sidenavbar {
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.4s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  .onemain .sidenavbar.active {
    left: 0;
  }
  .onemain .friendslist {
    padding: 25px 20px 20px;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    transition: right 0.4s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  .onemain .friendslist.active {
    right: 0;
  }
  .onemain .centeredarea .inner_centerdmain {
    padding: 20px 20px 0;
  }
  .mobile-overlay {
    display: none;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .mobile-overlay.active {
    display: block;
    opacity: 1;
  }
}
.profile_main {
  height: 100vh;
  overflow-y: auto;
}

.bg_img {
  height: 250px;
  max-height: 35vh;
  min-height: 250px;
  width: 100%;
  background-size: cover !important;
  position: relative;
}
.bg_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 70, 82, 0.3803921569);
}

.profileicon_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: -93px;
  padding: 0 40px;
  position: relative;
  z-index: 1;
}
.profileicon_info .profileicon_in {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.profileicon_info .profileicon_in .profile_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 232px);
  margin-left: 38px;
  padding-top: 93px;
}
.profileicon_info .profileicon_in .profileoicon {
  width: 195px;
  height: 195px;
  padding: 10px;
  background: #DAECF6;
  border-radius: 100%;
}
.profileicon_info .profileicon_in .profileoicon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileicon_info .profileicon_in .profile_text h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 12px;
}
.profileicon_info .profileicon_in .profile_text p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #516B7B;
  display: flex;
  align-items: center;
}
.profileicon_info .profileicon_in .profile_text p span {
  display: block;
  margin-right: 8px;
}
.bioinfo {
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 36px;
  margin: 30px 40px;
}
.bioinfo h2 {
  font-size: 22px;
  line-height: 25px;
  color: #324652;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.bioinfo p {
  font-size: 14px;
  line-height: 18px;
  color: #516B7B;
  margin-top: 24px;
  margin-bottom: 30px;
}
.bioinfo .listinginfoprofile {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 10px;
  flex-wrap: wrap;
  border-top: 1px solid rgba(50, 70, 82, 0.2196078431);
}
.bioinfo .listinginfoprofile li {
  width: 49%;
  display: flex;
  margin-top: 20px;
}
.bioinfo .listinginfoprofile li .title {
  width: 50%;
  font-size: 14px;
  line-height: 18px;
  color: #516B7B;
}
.bioinfo .listinginfoprofile li .titleanswer {
  width: 50%;
  color: #324652;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding-left: 5px;
}

.avatar-upload {
  position: relative;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #E4F5FF url("./../images/camera.svg") no-repeat center;
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  border-color: #324652;
}
.avatar-upload .avatar-preview {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 100%;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media screen and (max-width: 1363px) {
  .profileicon_info {
    padding: 0 20px;
  }
  .profileicon_info .profileicon_in .profileoicon {
    width: 165px;
    height: 165px;
  }
  .profileicon_info .profileicon_in .profile_content {
    width: calc(100% - 180px);
    margin-left: 15px;
    padding-top: 93px;
  }
  .bg_img {
    height: 220px;
    max-height: 30vh;
    min-height: 220px;
  }
  .profileicon_info .profileicon_in .profile_text h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .bioinfo {
    border-radius: 8px;
    padding: 20px;
    margin: 25px 20px;
  }
  .bioinfo .listinginfoprofile li .titleanswer {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .bioinfo .listinginfoprofile li {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .profileicon_info .profileicon_in {
    flex-direction: column;
    align-items: flex-start;
  }
  .profileicon_info .profileicon_in .profile_content {
    width: 100%;
    padding-top: 0;
    margin-left: 0;
  }
}
.friendlisthandler {
  display: flex;
  justify-content: space-between;
}
.friendlisthandler .titlecount h4 {
  font-size: 22px;
  line-height: 26px;
}
.friendlisthandler .titlecount h4 span {
  margin-left: 10px;
  color: #516B7B;
  font-size: 16px;
  line-height: 19px;
}
.friendlisthandler .seeallmain .seeall {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #FF0101;
}

.listingmainfrineds {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 28px 28px 25px;
  border-radius: 11px;
  background-color: #fff;
  overflow-y: auto;
  height: calc(100vh - 131px);
}
.listingmainfrineds::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.frndlistitem {
  display: flex;
  align-items: center;
  position: relative;
}
.frndlistitem .pre_img {
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 100%;
}
.frndlistitem .pre_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frndlistitem .content {
  padding-left: 20px;
  width: calc(100% - 46px);
  padding-right: 7px;
}
.frndlistitem .content h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
}
.frndlistitem .content p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #516B7B;
}
.frndlistitem.active::before {
  content: "";
  position: absolute;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #24CE7B;
}
.frndlistitem.active .content p {
  color: #24CE7B;
}

@media screen and (max-width: 1200px) {
  .frndlistitem .content {
    padding-left: 13px;
  }
  .listingmainfrineds {
    margin-top: 20px;
    gap: 20px;
    padding: 20px 15px 20px;
    height: calc(100vh - 82px);
  }
}
.sidenavbar .logo {
  padding-bottom: 40px;
}
.sidenavbar .navbar {
  padding: 0;
  height: calc(100vh - 312px);
  overflow-y: auto;
}
.sidenavbar .navbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sidenavbar .navbar a {
  padding: 14px 20px;
  text-align: left;
  color: #516B7B;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 75px;
  text-transform: uppercase;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.sidenavbar .navbar a span {
  margin-right: 12px;
  display: flex;
}
.sidenavbar .navbar a span img, .sidenavbar .navbar a span svg {
  max-width: 20px;
}
.sidenavbar .navbar a span svg {
  fill: #324652;
}
.sidenavbar .navbar a span svg path {
  stroke: #324652;
}
.sidenavbar .navbar a.active, .sidenavbar .navbar a:hover {
  background-color: #FF0101;
  color: #fff;
}
.sidenavbar .navbar a.active img, .sidenavbar .navbar a:hover img {
  filter: brightness(0) invert(1);
}
.sidenavbar .navbar a.active svg, .sidenavbar .navbar a:hover svg {
  fill: #fff;
}
.sidenavbar .navbar a.active svg path, .sidenavbar .navbar a:hover svg path {
  stroke: #fff;
}
.sidenavbar .navbar a:first-child {
  margin-top: 0;
}
.sidenavbar .logout {
  margin-top: 40px;
}
.sidenavbar .logoutbtn {
  padding: 14px 20px;
  text-align: left;
  color: #324652;
  background-color: #CDE4F3;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 75px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenavbar .logoutbtn span {
  margin-right: 12px;
  display: flex;
}
.sidenavbar .logoutbtn span img, .sidenavbar .logoutbtn span svg {
  max-width: 20px;
}
.sidenavbar .logoutbtn span svg {
  fill: #324652;
}
.sidenavbar .logoutbtn span svg path {
  stroke: #324652;
}
.sidenavbar .logoutbtn.active, .sidenavbar .logoutbtn:hover {
  background-color: #324652;
  color: #fff;
}
.sidenavbar .logoutbtn.active img, .sidenavbar .logoutbtn:hover img {
  filter: brightness(0) invert(1);
}
.sidenavbar .logoutbtn.active svg, .sidenavbar .logoutbtn:hover svg {
  fill: #fff;
}
.sidenavbar .logoutbtn.active svg path, .sidenavbar .logoutbtn:hover svg path {
  stroke: #fff;
}

.nearbylistingmain {
  padding-top: 36px;
  height: calc(100vh - 180px);
  overflow-y: auto;
  margin-bottom: 6px;
}
.nearbylistingmain::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.nearbylistingmain h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}
.nearbylistingmain ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nearbylistingmain ul li {
  margin-top: 16px;
}

.item_rec {
  background-color: #fff;
  padding: 19px;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}
.item_rec .profilemain {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 245px);
}
.item_rec .profilemain .pre_img {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 100%;
}
.item_rec .profilemain .pre_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item_rec .profilemain .content {
  padding-left: 15px;
  width: calc(100% - 56px);
  padding-right: 7px;
}
.item_rec .profilemain .content h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
}
.item_rec .profilemain .content p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #516B7B;
  display: flex;
  align-items: center;
}
.item_rec .profilemain .content p span {
  display: block;
  margin-right: 8px;
}
.item_rec .buttonslist {
  width: 240px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 576px) {
  .item_rec {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
  .item_rec .profilemain {
    width: 100%;
  }
  .item_rec .profilemain .pre_img {
    width: 45px;
    height: 45px;
  }
  .item_rec .buttonslist {
    margin-top: 15px;
    margin-left: auto;
    width: calc(100% - 58px);
    flex-wrap: wrap;
  }
}
.searching {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(50, 70, 82, 0.2196078431);
}
.searching.searchactive {
  padding-bottom: 0;
  border: none;
}
.searching.searchactive + .nearbylistingmain {
  padding-top: 16px;
  height: calc(100vh - 146px);
}
.searching.searchactive + .nearbylistingmain .item_rec:hover {
  border-color: #324652;
}

.search-bar {
  position: relative;
}
.search-bar input {
  background: url(./../images/search-normal.svg) no-repeat 22px 18px;
  border-radius: 36px;
  padding: 18px 34px 18px 54px;
  font-size: 18px;
  line-height: 20px;
  color: #324652;
  font-weight: 400;
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  width: 100%;
  outline: none;
}
.search-bar input:focus, .search-bar input:active, .search-bar input:focus-visible {
  background: #fff url(./../images/search-normal.svg) no-repeat 22px 18px;
}
.search-bar #clear-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
  font-size: 23px;
  color: #324652;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.getstarted {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(./../images/Getstarted_Screen.png) no-repeat;
  background-size: cover;
}

.exploremain {
  width: 736px;
  text-align: center;
  margin-bottom: 100px;
}
.exploremain h2 {
  font-size: 60px;
  line-height: 66px;
  font-weight: 800;
  text-align: center;
  max-width: 660px;
  margin: 60px auto 47px;
}
.exploremain .btns {
  display: flex;
  gap: 26px;
}
.exploremain .btns .btn {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .getstarted {
    background-position: center center;
  }
  .exploremain {
    max-width: 80%;
    width: 100%;
  }
  .exploremain h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 30px auto 30px;
  }
}
@media screen and (max-width: 576px) {
  .exploremain {
    margin-bottom: 70px;
  }
  .exploremain .btns {
    flex-direction: column;
  }
  .exploremain h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 22px auto 22px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 146, 155, 0.56);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  margin: auto;
  padding: 45px 60px;
  width: 620px;
  max-width: 620px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
  overflow: auto;
  max-height: calc(100% - 105px);
}
.modal-content h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-align: center;
}
.modal-content p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #516B7B;
  margin-top: 18px;
}
.modal-content p strong {
  color: #516B7B;
}
.modal-content p span.note {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  font-size: 18px;
  background: #f5f5f5;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  line-height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn::after {
  content: "X";
  position: absolute;
  font-size: 12px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}
.close-btn:hover {
  background-color: #FF0101;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 620px;
    width: 90%;
    padding: 30px 20px;
  }
  .modal-content h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .modal-content p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}
.formmain {
  margin-top: 42px;
}
.formmain .btn {
  text-transform: uppercase;
}
.formmain .askaccount {
  font-size: 14px;
  line-height: 18px;
  color: #516B7B;
  font-weight: 400;
}
.formmain .askaccount .textbtn {
  color: #324652;
}
.formmain .btns {
  display: flex;
  gap: 22px;
}
.formmain #skip.btn {
  margin-top: 30px;
}

.forgetdiv {
  text-align: right;
  margin-top: -10px;
}

.forgettext {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #324652;
}
.forgettext:hover {
  color: #FF0101;
}

.input-group {
  margin-bottom: 25px;
}
.input-group label {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
  color: #324652;
  margin-bottom: 10px;
  display: block;
}
.input-group label .required {
  color: #FF0101;
  margin-left: 3px;
}
.input-group input:not([type=submit]) {
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  border-radius: 35px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #324652;
  padding: 19px 22px;
}
.input-group .checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  color: #516B7B;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-group .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input-group .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid #516B7B;
  border-radius: 5px;
}
.input-group .checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input-group .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input-group .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.input-group .checkbox input:checked ~ .checkmark {
  background-color: #FF0101;
  border-color: #FF0101;
}
.input-group .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.input-group select {
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  border-radius: 35px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #324652;
  padding: 19px 22px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./../images/arrow_down.png) no-repeat calc(100% - 20px) 24px;
  background-size: 13px;
  cursor: pointer;
}

.inputs_groups {
  display: flex;
  justify-content: space-between;
}
.inputs_groups .input-group {
  width: calc(50% - 7.5px);
}

.progressteps {
  width: 100%;
}
.progressteps p {
  margin: 0;
}
.progressteps .progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px 0;
  max-width: 100%;
}
.progressteps .progress-container::before {
  content: "";
  background-color: #F2FAFF;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.progressteps .progress {
  background-color: #FF0101;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.progressteps .circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #F2FAFF;
  transition: 0.4s ease;
}
.progressteps .circle.active {
  border-color: #FF0101;
  background-color: #FF0101;
  color: #fff;
}

.ageselecter {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ageselecter li {
  margin: 5px 5px;
  position: relative;
}
.ageselecter li input[type=radio] {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.ageselecter li label {
  display: block;
  position: relative;
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  padding: 18px 20px;
  color: #324652;
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
  border-radius: 35px;
  margin: 0px;
  z-index: 9;
  min-width: 110px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.ageselecter li label:hover {
  color: #fff;
  background-color: #324652;
  border-color: #324652;
  font-weight: 700;
}
.ageselecter li input[type=radio]:checked ~ label {
  color: #fff;
  background-color: #324652;
  border-color: #324652;
  font-weight: 700;
}

.hidden {
  display: none;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
.otp-inputs .otp-input {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid rgba(50, 70, 82, 0.2196078431);
  font-size: 22px;
  font-weight: 400;
  color: #324652;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  text-align: center;
}

.expiretime {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #324652;
  margin-bottom: 20px;
  text-align: center;
}
.expiretime span {
  font-weight: 700;
  color: #FF0101;
}

.notrecievied {
  text-align: center;
}
.notrecievied a {
  display: inline-block;
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #324652;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .formmain {
    margin-top: 20px;
  }
  .input-group input:not([type=submit]) {
    padding: 14px 16px;
  }
  .inputs_groups {
    flex-direction: column;
  }
  .inputs_groups .input-group {
    width: 100%;
  }
}
header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}
header .logohere img {
  width: 50px;
  height: 50px;
}
header a {
  display: inline-block;
}

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
}

.togglemenu {
  width: 26px;
}

.togglemenu div {
  width: 100%;
  height: 5px;
  background: #000;
  transition: all 0.3s;
  backface-visibility: hidden;
  margin: 4px 0;
}

.togglemenu.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

.togglemenu.on .two {
  opacity: 0;
}

.togglemenu.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.frindlistbtn {
  position: fixed;
  right: 0;
  top: 240px;
  padding: 9px 8px 9px 12px;
  background: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #FF0101;
  z-index: 2;
  display: none;
}

@media screen and (max-width: 1200px) {
  header {
    display: flex;
  }
  .frindlistbtn {
    display: block;
    transition: right 0.4s ease;
  }
  .frindlistbtn.active {
    right: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
