// _global.scss
@use "variables" as *; 
*{
  font-family: $font-family;
  color: $body-color;
  box-sizing: border-box;
  margin: 0;
}
body {
    font-family: $font-family;
    background-color: $body-bg; 
    color: $body-color;
    box-sizing: border-box;
    margin: 0 auto;
    
  }

::-webkit-scrollbar{
  width: 0;
  height: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-family; 
  margin: 0;
  color: $white;
}
h1{
  font-size: 64px;
  line-height: 70px;
}
p{
  font-family: $font-family;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: $white;
}
a {
  color: $white;
  text-decoration: none;
  outline: none;
  &:hover,&:focus{
    text-decoration: none;
    outline: none;  
  }
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.bg-light{
  background-color: $light !important; 
}
.bg-light-color{
  color: $lightdark;
}
img{
  max-width: 100%;
  height: auto;
}
.slick-slide {
    outline: none;
    padding-right: 15px;
    padding-left: 15px;
}
.container{
  max-width: 1286px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width:1800px) {
    max-width: 1760px;
  }
  @media screen and (max-width:992px) {
      max-width: 744px;
  }
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn{
  box-shadow: none;
  padding: 18px 33px;
  border-radius: 50px;
  border: 1px solid;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  span,img{
    margin-left: 10px;
    display: flex;
  }
  &.btn_lg{
    font-size: 20px;
    line-height: 24px;
  }
}
.btn-primary{
  background-color: $primary;
  color: $black;
  border-color: $primary;
  &:hover{
    background-color: $primary_light;
    border-color: $primary_light;
    color: $black;
  }
}
.btn-outline-primary{
  background-color: transparent;
  color: $primary;
  border-color: $primary;
  &:hover{
    background-color: $primary;
    color: $white;
    border-color: $primary;
    span{
      img{
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }
  }
}
.btn-secondary{
  background-color: $secondary;
  color: $white;
  border-color: $secondary;
  font-weight: 700;
  span{
 
  }
  &:hover{
    background-color: transparent;
    border-color: $secondary;
    color: $secondary;
   
  }
}
button,.navbar-toggler:focus{
  outline: none;
  text-decoration: none;
  box-shadow: none;
}
.textbtn{
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  color: $primary;
  cursor: pointer;
}

.w-100{
  width: 100%;
}
.text-uppercase{
  text-transform: uppercase;
}
.hide{
  display: none;
}
@media screen and (max-width:992px) {
  .btn{
    padding: 14px 26px;
    font-size: 14px;
  }
}
@media screen and (max-width:576px) {
  .btn{
    font-size: 13px;
    padding: 10px 20px;
  }
  .btn.btn_lg {
    font-size: 14px;
    line-height: 18px;
  }
}