// _variables.scss

$primary-color: #324652;
$secondary-color: #FF0101;
$font-family: "Inter", sans-serif;
$font-family-bold: "Baloo Tamma 2", system-ui;

// Override Bootstrap variables (optional)
$body-bg: #DAECF6; 
$body-color: #000;
$light:#f5f5f5;
$lightdark:#516B7B;
$dark:#CDE4F3;
$white:#fff;
$border-color:#32465238;
$sectionbg:#E4F5FF;
$activesuccess: #24CE7B;
$progressitemcolor:#F2FAFF;

 