// _variables.scss

$primary: #E6B400;
$primary_light:#B57D16;
$secondary: #FF0101;
$font-family: "Inter", sans-serif;

// Override Bootstrap variables (optional)
$body-bg: #191919; 
$body-color: #fff;
$light:#f5f5f5;
$lightdark:#516B7B;
$dark:#CDE4F3;
$white:#fff;
$black:#000;
$border-color:#32465238;


 