header{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    .logohere{
        img{
            width: 50px;
            height: 50px;
        }
    }
    a{
        display: inline-block;
    }
}
#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
  }
  .togglemenu{
    width: 26px;
  }
  .togglemenu div {
    width: 100%;
    height: 5px;
    background: $body-color;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin: 4px 0;
  }
  
  .togglemenu.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .togglemenu.on .two {
    opacity: 0;
  }
  
  .togglemenu.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
.frindlistbtn{
    position: fixed;
    right: 0;
    top: 240px;
    padding: 9px 8px 9px 12px;
    background: red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $secondary-color;
    z-index: 2;
    display: none;
}
@media screen and (max-width:1200px) {
    header{
        display: flex;
    }
    .frindlistbtn{
        display: block;
        transition: right 0.4s ease; 
        &.active{
            right: 300px;
        }
    }
}