.searching{
    padding-bottom: 36px;
    border-bottom: 1px solid $border-color;
    &.searchactive{
        padding-bottom: 0;
        border: none;
        + .nearbylistingmain{
            padding-top: 16px;
            .item_rec:hover{
                border-color: $primary-color;
            }
        }
    }
}
.search-bar{
    position: relative;
    input{
        background: url(./../images/search-normal.svg) no-repeat 22px 18px;
        border-radius: 36px;
        padding: 18px 34px 18px 54px;
        font-size: 18px;
        line-height: 20px;
        color: $primary-color;
        font-weight: 400;
        border: 1px solid $border-color;
        width: 100%;
        outline: none;
        &:focus,&:active,&:focus-visible{
            background:#fff url(./../images/search-normal.svg) no-repeat 22px 18px;
        }
    }
    #clear-btn{
        display: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        background: transparent;
        border: none;
        padding: 0;
        text-decoration: none;
        font-size: 23px;
        color: $primary-color;
        font-family: $font-family;
        font-weight: 100;
    }
}

